.App {
  text-align: center;
}

.Letter-input {
  font-size: medium;
  float: left;
  padding: 10px;
}

.input-boxes {
  display: inline-block;
}

.input-field {
  padding-top: 10px;
}

.Password-list {
  font-size: large;
  padding: 10px;
}

.App-header {
  background-color: #222;
  padding: 10px;
  color: white;
  overflow: auto;
  display: block;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
